<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="contact-info">
          {{#em-form model=model submitButton=false}}
            {{em-input property="first-name" label="First Name" placeholder="Enter a first name..."}}
            {{em-input property="last-name" label="Last Name" placeholder="Enter a last name..."}}
            {{em-input property="email" label="Email" placeholder="Enter a email..."}}
            {{em-select property="country" label="Country" prompt="-select-" content=countries optionValuePath="name" optionLabelPath="name"}}
            <div class="form-actions">
              <input type="submit" {{action "create"}} disabled={{model.isntValid}} value="Create" class="btn btn-success pull-right" >
            </div>
          {{/em-form}}
          <button class="btn btn-warning pull-left" {{action "goBack"}}>Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
